.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  margin-left: 15px;
  border-radius: 25px;
  background-color: hsl(125, 46%, 54%);
}
.add-button:hover{
  background-color: hsl(125, 46%, 34%);
}
.delete-button{
  border-radius: 25px;
  background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 87%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 87%, 0.75);
  border-radius: 25px;
  display: flex;
  align-items: center;

}
.text{
  flex: 1;
}